$border-color:#e4e4e4;
$font-black:#424242;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

html {
    color: $font-black;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.d-flex {
    display: flex;
}

body {
    @extend .d-flex;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: column;
    direction: ltr;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

#app {
    @extend .d-flex;
    flex: 1;
    flex-direction: column;
}

.w-100 {
    width: 100%;

    @media screen and (max-width:768px) {
        flex-wrap: wrap;
    }
}

.col-4 {
    @extend .w-100;

    @media screen and (min-width:768px) {
        width: 33.33%;
    }
}

.col-6 {
    @extend .w-100;

    @media screen and (min-width:768px) {
        width: 50%;
    }
}

.col-8 {
    @extend .w-100;

    @media screen and (min-width:768px) {
        width: 66.66%;
    }
}

@mixin pt($value) {
    padding-top: $value;
}

@mixin pb($value) {
    padding-bottom: $value;
}

@mixin pl($value) {
    padding-left: $value;
}

@mixin pr($value) {
    padding-right: $value;
}

@mixin px($value) {
    @include pl($value);
    @include pr($value);
}

@mixin py($value) {
    @include pt($value);
    @include pb($value);
}

@mixin mr($value) {
    margin-right: $value;
}

@mixin mb($value) {
    margin-bottom: $value;
}

.px-0 {
    @include px(0rem);
}

.px-1 {
    @include px(1rem);
}

.py-1 {
    @include py(1rem);
}

.pt-2 {
    @include pt(2rem);
}

.pb-1 {
    @include pb(1rem);
}

.pb-2 {
    @include pb(2rem);
}

.px-2 {
    @include px(2rem);
}

.py-4 {
    @include py(4rem);
}

.mr-1 {
    @include mr(1rem);
}

.mr-2 {
    @include mr(2rem);
}

.mb-1 {
    @include mb(1rem);
}

.mb-3 {
    @include mb(3rem);
}

.align-items-center {
    align-items: center;
}

.container {
    @extend .w-100;
    @extend .d-flex;
    @extend .py-4;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

%br-1 {
    border-radius: 1rem;
}

.small {
    font-size: 0.8em;
}

.sidebar {
    @extend .px-2;
    margin-bottom: 2rem;

    @media screen and (min-width:768px) {
        max-height: calc(100vh - 8rem);
        max-width: 250px;
        margin-bottom: 0rem;
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: #d4d4d4;
        border-radius: 10px;

        &:hover {
            background: #0380d8;
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    .title {
        font-weight: 600;
        margin-bottom: 1rem;

        span.fas {
            margin-right: 10px;
        }
    }

    .stats {
        @extend %br-1;
        border: 1px solid $border-color;
    }

    .stats-card {
        @extend .py-1;
        @extend .px-1;
        text-align: center;

        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }

        .value {
            font-size: 2rem;
            font-weight: 500;
            color: #d67e21;
        }

        .label {
            margin-top: 0.75rem;
        }
    }

    .filters {
        @extend .d-flex;
        @extend .px-0;
        @extend %br-1;
        @extend .py-1;
        flex-direction: column;
        border: 1px solid $border-color;

        >* {
            @extend .px-1;
        }

        .section-title {
            @extend .mb-1;
            @extend .pb-1;
            font-weight: 600;
            border-bottom: 1px solid $border-color;
        }

        .selector {
            .section-title {
                @extend .px-1;
                margin: 0 -1rem 1rem;
            }
        }
    }

    .form-control {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #cacaca;
        padding: 5px;
        line-height: 1.5;
        font-size: 0.8em;
        box-sizing: border-box;

        &:focus {
            outline-color: #444;
        }
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    input[type="radio"] {
        margin-right: 0.5rem;
    }

    .slider-container {
        margin-top: 1rem;

        .slider {
            @extend .w-100;
        }

        .small {
            color: #077fd7;
        }
    }

    .errors {
        @extend .small;
        margin: 0;
        margin-bottom: 1rem;
        list-style: none;

        li {
            color: indianred;
            margin-bottom: 5px;
        }
    }

    .reset {
        @extend .small;
        margin-right: auto;
        color: #0380d8;
    }

    .theme-btn {
        color: white;
        background-color: #0380d8;
        border: none;
        padding: 0.6rem 1.5rem;
        border-radius: 20px;
        margin-left: auto;
        cursor: pointer;
        transition: all 0.2s ease-in;

        span.fas {
            margin-right: 0.5rem;
        }

        &:hover {
            transform: scale(0.975);
            background-color: #0e6eb1;
        }

        &:disabled {
            background-color: darkgrey;
            pointer-events: none;
        }
    }
}

.map-container {
    min-height: calc(100vh - 8rem);

    .map {
        @extend %br-1;
    }

    .info-content {
        .name {
            @extend .d-flex;
            @extend .mb-1;
            @extend .align-items-center;

            strong {
                font-size: 1rem;
            }
        }

        .gender {
            margin-left: 0.5rem;
        }

        .position .fas {
            margin-right: 0.5rem;
        }
    }
}
